<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <script src="static/lib/vue.js"></script>
    <!--script src="https://unpkg.com/vue/dist/vue.js"></script-->

    <link href="static/lib/vuetify.min.css" rel="stylesheet">
    <script src="static/lib/vuetify.min.js"></script>
    <!--link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet"-->
    <!--script src="https://unpkg.com/vuetify/dist/vuetify.js"></script-->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
     <v-app>
        <v-content>
            <v-container>

                    <v-toolbar app color="cyan" dark>
                        <img src="static/img/goose.png" width="30">
                        <v-toolbar-title>{{title}}</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>

                    
                    <v-layout row>
                        <v-flex xs4>
                            <v-form v-on:submit.prevent="" ref="form" v-model="playerFormValid" lazy-validation>
                                <v-layout row>
                                    <v-flex xs6 >
                                        <v-text-field v-model="playerName" :rules="playerNameRules" label="Player name" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs2>
                                        <v-btn type="submit" :disabled="!playerFormValid" @click="addPlayer()" color="info">Add a player</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-flex>

                        <v-flex xs2>
                            <v-btn :disabled="!gameCanStart" @click="runGame()" color="success">Roll the dice!</v-btn>
                        </v-flex>
                        <v-flex xs2 v-if="gameEnds">
                            <v-btn  @click="clearGame()" color="info">Start a new game!</v-btn>
                        </v-flex>                        
                    </v-layout>
          
                <v-alert v-if="winnerPlayer" :value="gameEnds" type="success">
                    Game finished! wins {{winnerPlayer.name}}
                </v-alert>
                    
          
    <div v-if="players && players.length > 0">
          <v-layout row >
                    <v-flex  xs12 sm4 >
                        <v-card>
                            <v-toolbar color="teal" dark>
                            <v-toolbar-title class="text-xs-center">Players</v-toolbar-title>
                            
                            </v-toolbar>
                            <v-list two-line>
                                <template v-for="(item, index) in players">
                                    <v-list-tile  :key="item.name" avatar @click="">
                                        <v-list-tile-avatar>
                                            <img :src="item.avatar">
                                        </v-list-tile-avatar>
                                        <v-list-tile-content>
                                            <v-list-tile-title v-html="item.name"></v-list-tile-title>

                                            <v-layout row >
                                                <v-flex xs6>
                                                    <div class="text-xs-center">
                                                    <v-chip>
                                                        <v-avatar class="teal">
                                                            <img src="static/img/dice.png">
                                                        </v-avatar>
                                                    {{item.dice[0]}}
                                                    </v-chip>
                                                    </div>
                                                </v-flex>
                                                <v-flex xs6>    
                                                    <div class="text-xs-center">
                                                    <v-chip>
                                                        <v-avatar class="teal">
                                                                <img src="static/img/dice.png">
                                                        </v-avatar>
                                                        {{item.dice[1]}}
                                                    </v-chip>
                                                    </div>
                                            </v-flex>
                                        </v-layout>

                                        </v-list-tile-content>

                                        <v-list-tile-action>
                                            Position: {{item.pos}}
                                        </v-list-tile-action>
                                    </v-list-tile>
                                    
                                </template>
                            </v-list>
                    </v-card>
                </v-flex>


                
                <v-flex xs12 sm10 style="margin-left: 10px">
                 
                    <v-layout row wrap>
                        <v-flex xs12 >
                            <v-card>
                                <v-toolbar color="teal" dark>
                                    <v-toolbar-title class="text-xs-center">Game progress</v-toolbar-title>
                                </v-toolbar>

                                <div style=" height: 65px; top: 15px; position: relative " v-for="(item, index) in players">
                                    <!--v-slider :color="item.color" :max="63" v-model="item.pos" label=" "></v-slider-->
                                    <v-progress-linear :value="item.posPercent" height="15" :color="item.color"></v-progress-linear>

                                </div>
                            </v-card>
                        </v-flex>                        
                    </v-layout>
                </v-flex>
        

            </v-layout>


            <v-layout row wrap style="margin-top:10px">
                    <v-flex xs12 >
                        <v-card>
                            <v-toolbar color="teal" dark>
                                <v-toolbar-title class="text-xs-center">Game messages</v-toolbar-title>
                            </v-toolbar>                            
                            <textarea id="logs" v-model="logs" style="width: 100%"   rows="15">
                            </textarea>
                        </v-card>
                </v-flex>
            </v-layout>

        </div>


            </v-container>
        </v-content>
        </v-app>
        
       
      
        
    </div>


    <script src="game.js"></script>
    <script>
    

    //
    // Vue app
    //
    window.app = new Vue({
        el: '#app',
            data: {
                // main app state
                title: 'Game of goose! 2-6 players to play',
                players: players,
                playerName: '',
                logs: "",

                // game state
                gameEnds: false,
                winnerPlayer: null,
                gameCanStart: false,

                // validation: add player form state
                playerFormValid: false,
                playerNameRules: [
                    v => !!v || 'Name is required',
                    v => (v && v.length <= 10) || 'Name must be less than 10 characters',
                    v => {
                         // if there're others players do the validation: **unique usernames**
                        if(window.app.players) {
                            cond = true;
                            for(var i=0; i< window.app.players.length; i++) {
                                cond = (v !== window.app.players[i].name);
                                if(!cond)
                                    break;
                            }                            
                            return cond || '"'+v +'": already existing player';
                        }
                        return true;   // else bypass this validation
                    },
                    v => {
                        // less then 6 players
                        if(window.app.players) {
                            return window.app.players.length < 6 || '6 are the maximum number of players';
                        }
                        return true;

                    }
                ],




            },
            methods: {
                addPlayer: function() {
                    console.log("adding a player: ", this.playerName);
                    this.players.push(new Player(this.playerName));
                    console.log("players: ", this.getPlayersNames() );
                    
                    // reset form state
                    this.$refs.form.reset(); // reset form
                    
                    this.gameCanStart = false;
                    if( this.players.length >= 2 ) {
                        this.gameCanStart = true;
                    }
                },

                getPlayersNames: function() {
                    return this.players.map(function(e) {
                        return e.name;
                    }).join(", ");
                },

                // rolls the dice
                runGame: function() {
                    console.log("start a game!");

                    this.players.forEach(e => {
                        var [newPos, dice] = e.rolldice();
                        e.move(newPos);
                        window.app.writeLog("\n");
                    });
                    this.writeLog("----------------------------------------------------\n");
                },

                playerWins: function(player) {
                    this.winnerPlayer = player;
                    this.gameEnds = true;
                    this.gameCanStart = false;
                },

                clearGame: function() {
                    this.logs = "";
                    this.playerName = '';

                    // game state
                    this.gameEnds = false;
                    this.gameCanStart = false;
                    this.winnerPlayer = null;

                    // add player form state
                    this.playerFormValid = false;

                    // reset game logic
                    spaces = new Array(MAX_POS);  // store players positions on the spaces
                    players = [];
                    this.players = players;
                    this.gameCanStart = true;

                    this.$refs.form.reset(); // reset form
                },

                // like console.log: get all args from the func call and prints them
                writeLog: function() {
                    var args = Array.prototype.slice.call(arguments);
                    var str = args.join(" ");
                    //console.log("log; ", str );
                    this.logs += str;

                    // scroll to bottom of the textarea
                    var textarea = document.getElementById('logs');
                    textarea.scrollTop = textarea.scrollHeight + 200 ;
                },

            }
        });

</script>
</body>
</html>